@page "/"
@using TennisScoreboardApp.Client.Services.Interfaces
@inject ITennisScoreService _scoreService

<h1 class="">@_scoreService.GetPlayerOneScore()</h1>
<h1>@_scoreService.GetPlayerTwoScore()</h1>


<button class="" @onclick="_scoreService.IncrementPlayerOneScore"></button>
<button class="" @onclick="_scoreService.IncrementPlayerTwoScore"></button>
